{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto form p-4">
                <div class="px-2">
                    <h3 class="title">Enter Password Code</h3>

                    {% if error %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endif %}
                    <form action="/process_otp" method="post">
                        <div class="form-group">
                            <label for="username">Password:</label>
                            <input type="text" class="form-control" name="otp" id="otp" required
                                   placeholder="Password">
                            <input type="hidden" class="form-control" name="short_key" value="{{ short_key }}">
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">Continue</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}